
<div class="row" style="        justify-content: space-around;
        margin-top: -19px;
        background-color: #0277bd;">
    <a href="/leave/Action" style="color:white;margin: 4px;">Action</a>
    <a href="/leave/TakenPreview" style="color:white;margin: 4px;">Taken</a>
    <a href="/leave/PartialTakenPreview" style="color:white;margin: 4px;">Not Taken</a>
</div>
