

<div class="row" style="justify-content: space-around; background-color: #0277bd;">
    <a href="/leave" style="color:white;margin: 4px;">View Leaves</a>
    <a href="/leave/ApplyLeave" style="color:white;margin: 4px;">Apply Leaves</a>
    <a href="/leave/Pending" style="color:white;margin: 4px;">Pending/Approved Leaves</a>
    <a href="/leave/Taken" style="color:white;margin: 4px;">Taken/Rejected/Cancelled Leaves</a>
    <a href="/leave/PublicHoliday" style="color:white;margin: 4px;">Public Holiday</a>
</div>
